<script>
    function deleteWebhook(event) {
        let store = event.target.dataset.store;
        let id = event.target.id;

        if (window.confirm('Are you sure you want to delete webhook for store '+store+'?')) {
            window.location.href = `connection/${store}/${id}/delete`;
        }
    }
    function createWebhook(event) {
        let store = event.target.dataset.store;

        window.location.href = `connection/${store}/create`;
    }
    function toggleCollapse(event){
        event.target.classList.toggle("active");
        var content = event.target.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
    }
</script>
  
<ul id="webhooks">
    {{#webhooks}}
        <li>
            <h3>Store: {{ this.store }}</h3>

            <button data-store="{{ this.store }}" id="{{this.webhook.id}}" onclick="deleteWebhook(event)">
                DELETE
            </button>
            <button data-store="{{ this.store }}" onclick="createWebhook(event)">
                CREATE
            </button>
            <button onclick="toggleCollapse(event)" type="button" class="collapsible-trigger">
                Show Connection Details
            </button>
            <div class="collapsible-content">
                <p>{{json this.webhook}}</p>
            </div>
        </li>
    {{/webhooks}}
</ol>