<script> 
  function toggleCollapse(event){
    event.target.classList.toggle("active");
    var content = event.target.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  }
</script>

<ol id="webhooks">
  {{#webhooks}}
    <li>
       <ul>
          <li>id: {{this.id}}</li>

          <li>store name: {{this.store_name}}</li>
          <li>order id: {{this.order_id}}</li>
          <li>type: {{this.type}}</li>
          <li>received_at: {{this.received_at}}</li>
          <li>executed_at: {{this.executed_at}}
            {{#unless this.executed_at}}
              <a href="/db/webhooks/{{this.id}}/reenqueue">Reenqueue this webhook</a>
            {{/unless}}
          </li>
          <li>
            <button onclick="toggleCollapse(event)" type="button" class="collapsible-trigger">
              Open payload
            </button>
            <div class="collapsible-content">
              <p>{{json this.payload}}</p>
            </div> 
          </li>

        
      </ul>
     </li>
  {{/webhooks}}
</ol>
        
 