<script> 
  function toggleCollapse(event){
    event.target.classList.toggle("active");
    var content = event.target.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  }
</script>

<ol id="webhooks">
  {{#webhooks}}
    <li>
      {{#each this}}
      <ul>
        {{#unless @last}}
          <li>{{@key}}: {{this}}</li>
        {{else}}
          <button onclick="toggleCollapse(event)" type="button" class="collapsible-trigger">
            Open {{@key}}
          </button>
          <div class="collapsible-content">
            <p>{{json this}}</p>
          </div>
        {{/unless}}
      </ul>
      {{/each}}
    </li>
  {{/webhooks}}
</ol>
        
 